#background {
    background: url("http://images.vanyakrasawchik.com/images/staff/sierra000.jpg")
}

#logo {
    width: 398px;
    height: 182px;
}

.title {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

#copyright {
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.banner1 {
    width: 521px;
    height: 147px;
}

#banner2 {
    width: 767px;
    height: 145px;
}

#adrem {
    font-family: sans-serif;
    color: white;
    font-size: 10px;
}

#maintitle {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
}